.App {
  text-align: center;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Header {
  background-image: linear-gradient(to bottom, #001133, #004488);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center; /* Centrer horizontalement */
  font-size: calc(10px + 2vmin);
  color: white;
}
.Title {
  text-align: center;
  color: white;
  width: 100%;
}
.Menu {
  justify-content: center;
  color: white;
}





